<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Keeper</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/b60c4c06dc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
</head>

<!-- About Button to Open Modal -->
<button id="openModal" class="about-btn">About</button>

<!-- The Modal -->
<div id="aboutModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="about-modal">About</h1>
    <p>
        Welcome to BookKeeper. <br>
        Simple app use to search books using the Open Library API. <br>
        Search for a book below, and if you have read it, add it to the library
    </p>
  </div>
</div>
